.page {
  background-color: var(--yellow);
  width: 100%;
  padding: 2rem 0;
}
.page .content {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 1000px){
  .page .content {
    width: 90%;
  }
}
.page .content h1 {
  text-align: center;
  font-size: 3.2rem;
}
.page .content h2 {
  margin-top: 2rem;
}
.page .content p {
  text-align: justify;
}