.table {
  width: 100%;
  margin: 1rem 0;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0px 2px 38px rgba(0, 0, 0, 0.2);
  background-color: var(--white);
}

.table thead {
  background-color: var(--black);
  color: var(--yellow);
}
.table thead tr th {
  padding: 1rem;
}
.table tbody tr td {
  padding: 10px 5px;
}
.restricted {
  background-color: orange;
}
