.main {
  background-color: var(--yellow);
  width: 100vw;
  display: grid;
  place-items: center;
  padding: 2rem 0;
}
.title {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}
.title h1 {
  font-size: 4.2rem;
  color: var(--black);
  line-height: 1;
}
.title .date {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  margin: 1rem 0;
}
.title .date .icon {
  margin-right: 1rem;
}
.title .date h2 {
  color: var(--black);
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0px 2px 38px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--black);
}
.content h3 {
  color: var(--black);
  margin-top: 2rem;
}
