.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main h2 {
  text-align: center;
  color: var(--black);
}
.input {
  background: linear-gradient(to left, #ccc 1px, transparent 0);
  background-size: 100px 1px;
  width: 300px; 
  font-size: 30px;
  letter-spacing: 80px;
  text-indent: 2px;
  text-transform: uppercase;
  outline: none;
  background-color: var(--yellow);
  color: var(--black);
  border: 1px solid var(--black);
  padding: 5px;
  border-radius: 10px;
}
@media (max-width: 380px){
  .input {
  background: linear-gradient(to left, #ccc 1px, transparent 0);
  background-size: 80px 1px;
  width: 240px;
  font-size: 20px;
  letter-spacing: 65px;
  text-indent: 1px;
  text-transform: uppercase;
  outline: none;
  background-color: var(--yellow);
  color: var(--black);
  border: 0.5px solid var(--black);
  padding: 2px;
  border-radius: 5px;
  } 
}
.inputs {
  display: flex;
  gap: 1rem;
}
@media (max-width: 800px){
  .inputs {
    flex-direction: column;
  }
}
.row {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.row label {
  font-size: 0.9rem;
  color: var(--black);
}
@media (max-width: 380px){
  .row {
    width: 100%;
    margin: 0 auto;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .row label {
    text-align: center;
  }
}
.error {
  color: red;
  text-align: center;
}
.errorBorder {
  border-color: red;
}
