.main {
  width: 100%;
}
.main h2 {
  text-align: center;
  color: var(--black);
}
.input {
  background: linear-gradient(to left, #ccc 1px, transparent 0);
  background-size: 100px 1px;
  width: 300px; 
  font-size: 30px;
  letter-spacing: 80px;
  text-indent: 2px;
  text-transform: uppercase;
  outline: none;
  background-color: var(--yellow);
  color: var(--black);
  border: 1px solid var(--black);
  padding: 5px;
  border-radius: 10px;
}
.inputs {
  display: flex;
  gap: 1rem;
}
.row {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.row label {
  font-size: 0.9rem;
  color: var(--black);
}