.times {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.3rem;
}
@media (max-width: 800px){
  .times {
    font-size: 1rem;
  }
}
.times h3 {
  margin: 0 !important;
}
.times h3 span {
  background-color: var(--black);
  color: var(--yellow);
  padding: 5px 10px;
  border-radius: 15px;
  line-height: 2;
}